

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
    margin: 0 0;
    padding: 0 0;
}

/* Shared Design */
.btn{
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
}

.about_name{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    padding: 8px;
}

.about_description{
    font-size: 20px;
    font-weight: 400px;
    color: #757575;
    line-height: 30px;
}
/* Header Design */

.header{
    background-image: url('../images/developer.png') ,url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    background-color: #FFF8F3;
    position: relative;
    margin-bottom: 130px;
}

/* Design nav */
.header_nav{
    margin: 0px 226px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.title_name{
    color: #181818;
    font-size: 45px;
    font-weight: 800px;
}
.title_name_design{
    color: #FD6E0A;
}

.nav_list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_list li{
    list-style: none;
    margin-right: 51px;
    font-size: 20px;
    font-weight: 400px;
}
.nav_list li a{
    text-decoration: none;
    color: #474747;
}

/* Design banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner_content{
    margin: 0px 0px 0px 230px;
    max-width: 585px;
}
.portfolio_profile_pic{
    width: 584px;
    height: 676px;
    margin-right: 38px;
    margin-bottom: 0;
}
.banner_greetings{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
}
.banner_title{
    font-size: 85px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}
.banner_des{
    font-size: 18px;
    font-weight: 400px;
    color: #757575;
    margin-bottom: 30px;
}
.btn_contact{
    margin-left: 30px;
    font-size: 20px;
    color: #FD6E0A;
    font-weight: bold;
    border-radius: 5px;
    padding: 18px 35px;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #FD6E0A;;
}

/* About design */

.about{
    margin: 0px 230px 130px 230px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 131px 156px 131px 156px;
}
.about_content{
    background-color: #ffffff;
    text-align: center;
    border: 1px solid  #FD6E0A;
    padding: 10px;
}

.about_details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.about_details_heading{
    font-size: 20px;
    font-weight: 400px;
    color: #757575;
}
.about_details_info{
    font-size: 20px;
    font-weight: mixed;
    color: #474747;
}

/* Design Skills */
.skills{
    margin: 0px 230px 130px 230px;
}
.skills_title{
    text-align: center;
    margin: 0px 115px 50px 115px;
}
.skill_title_heading{
    padding: 10px;
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.skill_description{
    font-size: 18px;
    color: #757575;
    font-weight: 400px;
    line-height: 30px;
}

.skills_name{
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skills_content{
    padding: 30px;
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.6);
    margin-right: 24px;
}
.skill_photo{
    height: 44px;
    width: 44px;
    margin-bottom: 30px;
}
.skill_icon_heading{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.skill_icon_description{
    font-size: 16px;
    font-weight: 400px;
    line-height: 28px;
}

/* Design Summary */
.summary{
    margin: 0px 230px 113px 230px;
}
.summary_main_title{
    text-align: center;
    margin-bottom: 113px;
}
.summary_title_content{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.education_main_title{
    margin-bottom: 30px;
}
.education_title_content{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.edu_des_title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.edu_des_sub_title{
    font-size: 20px;
    color: #757575;
    font-weight: 600px;
    margin-bottom: 20px;
}
.education_description{
    font-size: 16px;
    color: #757575;
    font-weight: 400px;
    margin-bottom: 30px;
    line-height: 28px;
}
.education_description_content{
    margin-top: 10px;
    border-bottom: 1px solid #FD6E0A;
}
.education_experience{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.education{
    margin: 0px 25px 0px 25px;
}
.download_cv{
    text-align: center;
}

/* footer area design */
.footer_area{
    background-color: #FFF8F3;
     padding: 130px 0;
}
.full_footer_content{
    margin: 130px 230px 130px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_connect{
    width: 662px;
}
.footer_connect_content{

}
.footer_content_title{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer_content_des{
    color: #474747;
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 30px;
}
.footer_icons{
    display: flex;
    gap: 24px;
    justify-content: left;
    align-items: start;
}

.footer_message{
    width: 561px;
}
.footer_message_content{
    width: 561px;
}
.footer_message_title{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 28px;
}
.footer_message_input{
    width: 100%;
}
.message_form{
    width: 100%;
}
.label{
    color: #474747;
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 30px;
}
.label_box{
    padding: 14px 30px;
    margin-bottom: 30px;
}
.message_box{
    margin-bottom: 30px;
    width: 100%;
    height: 170px;
    padding: 10px;
}